<!DOCTYPE HTML>
<html class="notranslate" translate="no">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Old Street</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!--
		Oxygen by gettemplates.co
		Twitter: http://twitter.com/gettemplateco
		URL: http://gettemplates.co
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Carrossel Bootstrap -->
	<link rel="stylesheet" href="css/carousel.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body onload="carregar()">
		
	<div class="gtco-loader"></div>
	
	<div id="page">
		<nav id="menu" class="gtco-nav" role="navigation">
			<div class="gtco-container">
				<div class="row">
					<div class="col-xs-2">
						<div id="gtco-logo"><a href="index.php">Lanchonete's</a></div>
					</div>
					<div class="col-xs-8 text-center menu-1">
						<ul>
							<li class="active"><a href="index.php">Home</a></li>
							<li><a href="about.php">Sobre</a></li>
							<li class="has-dropdown">
								<a href="#">Cardápio</a>
								<ul class="dropdown">
									<li><a href="menu.php#lanches">Lanches</a></li>
									<li><a href="menu.php#bebidas">Bebidas</a></li>
									<li><a href="menu.php#porcoes">Porções</a></li>
									<li><a href="menu.php#milk-shakes">Milk-shakes</a></li>
								</ul>
							</li>
							<li><a href="contact.php">Contato</a></li>
							<li><a href="#" data-toggle="modal" data-target="#modalCarrinho"><i class="icon-shopping-cart" style="font-size: large;"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-2 text-right hidden-xs menu-2">
						<ul>
							<li class="btn-cta"><a href="login.php"><span>Acessar</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

	<header id="gtco-header" class="carousel-index gtco-cover" role="banner">
		<div class="owl-carousel owl-carousel-fullwidth">
			<div class="item">
				<div class="testimony-slide active text-center">
					<img src="images/old/bannerBurguer.webp" alt="user">
				</div>
			</div>
			<div class="item">
				<div class="testimony-slide active text-center">
					<img src="images/old/bannerBurguer.webp" alt="user">
				</div>
			</div>
			<div class="item">
				<div class="testimony-slide active text-center">
					<img src="images/old/bannerBurguer.webp" alt="user">
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-features-2" style="padding-top: 3em;">
		<div class="horario">
			<p class="relogio" id="horas"></p>
			<p class="mostrar-horario" id="horario"></p>
			<p class="mostrar-horario">Confira mais sobre nossos horários <a href="#show-horario">aqui</a></p>
		</div>
		
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Por que nos escolher?</h2>
					<p>Três motivos</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Lanches saborosos</h3>
							<p>Temos lanches saborosos para todas as pessoas, vegetarianos e não vegetarianos</p>
						</div>
					</div>
					
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Temática</h3>
							<p>Temática baseada no estilo anos 90 que traz um ar nostálgico.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Segurança do trabalho</h3>
							<p>Garantimos a segurança dos nossos funcionários e clientes.</p>
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:linear-gradient(to right, #ff7700, #fea500);">
			<div class="gtco-container">
				<div class="row">
					<div class="display-t">
						<div class="display-tc">
							<div class="col-md-4 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-emoji-happy"></i>
									</span>

									<span class="counter js-counter" data-from="0" data-to="970" data-speed="5000" data-refresh-interval="50">1</span>
									<span class="counter-label">Clientes satisfeitos</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-emoji-sad"></i>
									</span>
									<span class="counter js-counter" data-from="0" data-to="9" data-speed="5000" data-refresh-interval="50">1</span>
									<span class="counter-label">Clientes insatisfeitos</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-shield"></i>
									</span>

									<span class="counter js-counter" data-from="0" data-to="900" data-speed="5000" data-refresh-interval="50">1</span>
									<span class="counter-label">Dias sem acidentes</span>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Depoimentos -->
	<div id="gtco-testimonial">
		<div class="gtco-container">
			<!-- <div class="row"> -->
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Depoimentos</h2>
					</div>
				</div>
				<div class="row animate-box">
					
				
					<div class="owl-carousel owl-carousel-fullwidth ">
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person_1.jpg" alt="user">
								</figure>
								<span>João Victor, via <a href="#" class="twitter">Site</a></span>
								<blockquote>
									<p>&ldquo;Muito satisfeito com a temática, atendimento maravilhoso e lanches saborosos.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person_2.jpg" alt="user">
								</figure>
								<span>Pedro, via <a href="#" class="twitter">Site</a></span>
								<blockquote>
									<p>&ldquo;Estabelecimento excelente.&rdquo;</p>
								</blockquote>
							</div>
						</div>
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="images/person_3.jpg" alt="user">
								</figure>
								<span>Felipe, via <a href="#" class="twitter">Site</a></span>
								<blockquote>
									<p>&ldquo;Muito bom, ambiente muito agradável.&rdquo;</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>

	<div id="gtco-services">
		<div class="gtco-container">
			
			<div id="show-horario" class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Entenda como nós funcionamos</h2>
				</div>
			</div>

			<div class="row animate-box">
				
				<div class="gtco-tabs">
					<ul class="gtco-tab-nav">
						<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-clock"></i></span><span class="hidden-xs">Horários</span></a></li>
						<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-price-tag"></i></span><span class="hidden-xs">E-commerce</span></a></li>
						<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-head"></i></span><span class="hidden-xs">Funcionários</span></a></li>
						<li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-shield"></i></span><span class="hidden-xs">Higiene</span></a></li>
					</ul>

					<!-- Tabs -->
					<div class="gtco-tab-content-wrap">

						<div class="center-funcionamento gtco-tab-content tab-content active" data-tab-content="1">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="icon-clock"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Horários</h2>
								<p>Nosso estabelecimento estará aberto para te receber das:</p>
								<div class="row">
									<div class="col-md-6">
										<h2 class="uppercase">Terça e Quarta</h2>
										<p>18H ÀS 22H30</p>
									</div>
									<div class="col-md-6">
										<h2 class="uppercase">Quinta a Sábado</h2>
										<p>18H ÀS 23H</p>
									</div>
								</div>
							</div>
						</div>

						<div class="center-funcionamento gtco-tab-content tab-content" data-tab-content="2">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="icon-price-tag"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>E-commerce</h2>
								<p>Nosso estabelecimento conta com o recurso de e-Commerce, por meio desse site você pode fazer um pedido do conforto da sua casa.</p>
							</div>
						</div>

						<div class="center-funcionamento gtco-tab-content tab-content" data-tab-content="3">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="icon-head"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Funcionários</h2>
								<p>Nossos funcionários são altamente qualificados e possuem todas as competências exigidas pelo mercado alimentício.</p>
							</div>
						</div>

						<div class="center-funcionamento gtco-tab-content tab-content" data-tab-content="4">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="icon-shield"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Higiene</h2>
								<p>Nosso estabelecimento conta com uma limpeza impecável, banheiros higiênicos e ingredientes com alto grau de cuidado.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="gtco-started">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Acesse sua conta Old</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline" method="POST">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="password" class="sr-only">Senha</label>
								<input type="password" class="form-control" id="password" placeholder="Senha">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Acessar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Rodapé -->

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-4 gtco-widget">
					<h3>A Família Old</h3>
					<p>Venha conhecer nossa família em nosso estabeleicmento, localizado em Itapira-SP.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="#show-horario" class="footer-links">Horários</a></li>
						<li><a href="about.php" class="footer-links">Sobre</a></li>
						<li><a href="contact.php" class="footer-links">Contato</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="menu.php" class="footer-links">Cardápio</a></li>
						<li><a href="menu.php#lanches" class="footer-links">Lanches</a></li>
						<li><a href="menu.php#bebidas" class="footer-links">Bebidas</a></li>
						<li><a href="menu.php#porcoes" class="footer-links">Porções</a></li>
						<li><a href="menu.php#milk-shakes" class="footer-links">Milk-Shakes</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; Old Street Burger, Itapira-SP</small> 
						<small class="block">Todos os direitos reservados.</small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- Horário -->
	<script src="js/horario.js"></script>

	</body>
</html>

